/* Sets up global styles for the app */

* {
  box-sizing: border-box;
}

body {
  background-color: $white;
  font-family: $font-stack;
  letter-spacing: .4px;
}

main {
  background-color: $twitch-purple;
}
