/* Utility-Helper classes for convenience */

/* Basic clearfix implemenation */
.u-clearfix:before,
.u-clearfix:after {
  content: '';
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.u-hidden {
  display: none;
}
