/* Variables for reusable values */

/* Color Palette */
$twitch-purple: #6441A4;
$light-purple: #6E50B4;
$black: #222222;
$white: #F5F5F5;
$dark-grey: #323232;
$light-grey: #959595;


/* Font stack */
$font-stack: 'Roboto', sans-serif;
