<!-- Search Filter Nav -->
<div class="search-filter-nav">
  <div class="search-filter-nav__container u-clearfix">
    <div class="search__container">
      <input type="text" class="search-bar" placeholder="Search channels" >
      <button class="search-btn" type="button" title="Search channels"></button>
    </div>

    <div class="stream-filters u-clearfix">
      <div class="filter-choice filter-choice-all filter-choice--active"><h3>All</h3></div>
      <div class="filter-choice filter-choice-streaming"><h3>Streaming</h3></div>
      <div class="filter-choice filter-choice-offline"><h3>Offline</h3></div>
    </div>
  </div>
</div>


<!-- Channel List -->
<div class="channels-list">
  <!-- Display search results -->
  <div class="search-results">
    <h3>No channels found...</h3>
  </div>
</div>
