/* Basic buttons */

.btn-primary {
  width: 124px;
  height: 30px;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  background-color: $twitch-purple;
  color: $light-grey;
  font-size: 12px;
  font-family: $font-stack;
  font-weight: 500;
  cursor: pointer;
  transition: background-color .8s ease;
}

.btn-primary:hover {
  background-color: $light-purple;
}
