/* Styles for channel "blocks" in channels list */

.channels-list {
  padding: 0 20px;
  margin: 25px auto;
}

.channel-container {
  max-width: 640px;
  padding: 18px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: $black;
}

.channel-profile-block {
  clear: both;
}

.channel-profile {
  float: left;
  display: inline-block;
  max-width: 100px;
  margin-right: 30px;

  @media screen and (max-width: 500px) {
    max-width: 20%;
    margin-left: 20px;
  }
}

.channel-profile__img {
  max-width: 100%;
  margin-bottom: 5px;
}

.channel-profile__followers {
  text-align: center;
}

.channel-titles {
  float: left;

  @media screen and (max-width: 500px) {
    width: 70%;
  }
}

.channel-stream {
  max-width: 100%;
  margin-top: 30px;
}

.channel-stream__img {
  max-width: 100%;
}

.no-channels-found {
  display: none;
  padding: 0 20px;
  margin: 25px auto;
}
